---
import Navbar from "../layouts/Navbar.astro"
import Footer from "../layouts/Footer.astro"
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About Us - Joy Cat</title>
		<link rel="stylesheet" href="style.css" />
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
			.custom-bg {
				background-color: #e6f4f1;
			}
		</style>
	</head>
	<body class="bg-gray-50 font-['Barlow'] text-[#2E5070]">
        <Navbar />

		<!-- Hero Section -->
		<section class="relative">
			<img src="/img//hero-tentang-kami.jpg" alt="Hero Background" class="w-full h-96 object-cover" />
		</section>

		<!-- About Us Section -->
		<section class="py-20 bg-[#EDF8F9]">
			<div class="text-left mb-12 gap-3">
				<div class="flex flex-col items-center gap-3 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 md:flex-row">
					<h2 class="text-5xl font-black text-[#2E5070]">Tentang Kami</h2>
					<img src="/img/CatPaw.svg" alt="" class="size-fit pl-3 pr-24" />
					<p class="text-gray-600">
						Joy Cat didirikan oleh kakak beradik, dr. Bima Sakti Gemilang dan dr. Andromeda Gemintang. Dibesarkan dari keluarga pecinta kucing dan tempat merawat hewan
						liar hampir 10 tahun, kerap kali mereka menemukan kucing butuh banyak sekali bantuan perawatan, hingga akhirnya sampai sekarang. Oleh karena itu, kami
						berinisiatif untuk menyediakan layanan yang mendukung kesehatan dan kebahagiaan bagi kucing dan para pemiliknya.
					</p>
				</div>
				<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col gap-20 my-28 md:gap-5">
					<h3 class="text-2xl font-bold text-blue-900">The Cat Doctors</h3>
					<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
						<div>
							<img src="/img//dokter-bima-sakti.jpeg" alt="Doctor 1" class="w-full h-auto object-cover rounded-lg shadow-md" />
						</div>
						<div>
							<p class="text-gray-600">
								Dokter Bima Sakti Gemilang memperoleh gelar dokter hewan dari Michigan State University. Di Joy Cat, ia saat ini bekerja sebagai salah satu dari dua
								dokter hewan fulltime. Dia sangat bersemangat dalam memberikan perawatan pencegahan yang tepat kepada semua pasien, dan giat memberikan edukasi terkait
								kesehatan kucing kepada para pemilik kucing. Dr. Bintang juga sangat mahir dan unggul dalam operasi jaringan lunak.
							</p>
						</div>
					</div>

					<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
						<div>
							<p class="text-gray-600">
								Dokter Andromeda Gemilang, adik dari dr. Bima adalah Praktisi Tingkat Lanjut dalam Kedokteran Kucing dan memegang Keanggotaan Kolese Ilmuwan Hewan
								Indonesia untuk Kedokteran Kucing.
							</p>
						</div>
						<div>
							<img src="/img//dokter-andromeda.jpeg" alt="Doctor 1" class="w-full h-auto object-cover rounded-lg shadow-md" />
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Team Section -->
		<section class="py-12 px-8 bg-gray-50">
			<div class="container mx-auto py-8">
				<h2 class="text-2xl font-bold mb-8">Tim Kami</h2>
				<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
					<div class="text-left">
							<img src="/img//icon-staff.png" alt="" class="mb-4 h-52 w-full object-cover rounded-2xl">
						<p class="text-sm">Practice Manager</p>
						<h3 class="text-lg font-semibold">Ananta Shabrina</h3>
					</div>
					<div class="text-left">
							<img src="/img//icon-staff.png" alt="" class="mb-4 h-52 w-full object-cover rounded-2xl">
						<p class="text-sm">Head Nurse</p>
						<h3 class="text-lg font-semibold">Renata Lubis</h3>
					</div>
					<div class="text-left">
							<img src="/img//icon-staff.png" alt="" class="mb-4 h-52 w-full object-cover rounded-2xl">
						<p class="text-sm">House of Cats Manager</p>
						<h3 class="text-lg font-semibold">Ilham Dwimawan</h3>
					</div>
					<div class="text-left">
							<img src="/img//icon-staff.png" alt="" class="mb-4 h-52 w-full object-cover rounded-2xl">
						<p class="text-sm">Receptionist</p>
						<h3 class="text-lg font-semibold">Karin Aisyah</h3>
					</div>
					
				</div>
			</div>
		</section>

        <Footer />
	</body>
</html>
