---
import Navbar from "../layouts/Navbar.astro"
import Footer from "../layouts/Footer.astro"
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Adoption</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
     @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
</head>
<body class="bg-[#edf8f9] font-['barlow']">
    <Navbar />
    <!-- Hero Section -->
    <div class="">
        <img src="img/hero.png" alt="Cat" class="mx-auto h-80 w-full object-cover">
    </div>

    <!-- Cat Adoption Section -->
    <section class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8 bg-[#edf8f9]">
        <div class="deskripsi pt-20">
            <div class="flex flex-col md:flex-row justify-center md:items-end space-y-4 md:space-y-0 md:space-x-4 gap-5 pb-16">
                <h1 class="text-[#2E5070] font-extrabold text-6xl text-left">
                    Cat <br> Adoption
                </h1>
                <img src="img/CatPaw.svg" alt="CatPaw" class="self-start md:self-end">
                <p style="max-width: 600px;" class="text-left self-start md:self-end font-bold text-[#2E5070]">
                    Berikut adalah beberapa kucing yang saat ini siap untuk diadopsi. Klik pada <br> gambar untuk melihat informasi lebih detail tentang masing-masing kucing.
                </p>
            </div>
            <div class="grid gap-8 lg:grid-cols-3">
            <!-- Cat Card -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden p-2">
                <img class="w-full h-72 object-cover rounded-lg" src="img/bella.png" alt="Cat Image">
                <div class="p-6">
                    <h2 style="font-size: 40px;" class="text-2xl font-bold text-[#2E5070] mb-4">Bella</h2>
                    <ul class="pet-details text-[#2E5070] space-y-2">
                        <li class="flex"><span class="label-width">Umur</span> <span class="font-semibold">3 Tahun</span></li>
                        <li class="flex"><span class="label-width">Kelamin</span> <span class="font-semibold">Betina</span></li>
                        <li class="flex"><span class="label-width">Jenis</span> <span class="font-semibold">Persia</span></li>
                        <li class="flex"><span class="label-width">Bobot</span> <span class="font-semibold">5.5 Kg</span></li>
                        <li class="flex"><span class="label-width">Sifat</span> <span class="font-semibold">Ramah, pendiam, senang rebahan</span></li>
                    </ul>
                    <div>
                    <a href="https://wa.me/0812345678910" class="flex items-end justify-center  bg-green-400 hover:bg-green-800 text-white font-bold py-4 px-4 rounded-full mt-3 transition-all">
                        <img src="img/_WhatsApp.svg" alt="Adopt Icon" class="w-6 h-6 mr-2">
                        Adopsi
                    </a>
                </div>
            </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden p-2">
                <img class="w-full h-72 object-cover rounded-lg" src="img/leo.png" alt="Cat Image">
                <div class="p-6">
                    <h2 style="font-size: 40px;" class="text-2xl font-bold text-[#2E5070] mb-4">Leo</h2>
                    <ul class="pet-details  space-y-2 text-[#2E5070]">
                        <li class="flex"><span class="label-width">Umur</span> <span class="font-semibold">2 Tahun</span></li>
                        <li class="flex"><span class="label-width">Kelamin</span> <span class="font-semibold">Jantan</span></li>
                        <li class="flex"><span class="label-width">Jenis</span> <span class="font-semibold">Anggora</span></li>
                        <li class="flex"><span class="label-width">Bobot</span> <span class="font-semibold">5 Kg</span></li>
                        <li class="flex"><span class="label-width">Sifat</span> <span class="font-semibold">Aktif, energetik, jarang tidur, tidak suka ikan</span></li>
                    </ul>
                    <a href="https://wa.me/0812345678910" class="flex items-center justify-center bg-green-400 hover:bg-green-800 text-white font-bold py-4 px-4 rounded-full mt-3 transition-all">
                        <img src="img/_WhatsApp.svg" alt="Adopt Icon" class="w-6 h-6 mr-2">
                        Adopsi
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden p-2">
                <img class="w-full h-72 object-cover rounded-lg" src="img/momo.png" alt="Cat Image">
                <div class="p-6">
                    <h2 style="font-size: 40px;" class="text-2xl font-bold text-[#2E5070] mb-4">Momo</h2>
                    <ul class="pet-details text-[#2E5070] space-y-2">
                        <li class="flex"><span class="label-width">Umur</span> <span class="font-semibold">3.5 Tahun</span></li>
                        <li class="flex"><span class="label-width">Kelamin</span> <span class="font-semibold">Jantan</span></li>
                        <li class="flex"><span class="label-width">Jenis</span> <span class="font-semibold">Domestic Short Hair</span></li>
                        <li class="flex"><span class="label-width">Bobot</span> <span class="font-semibold">5 Kg</span></li>
                        <li class="flex"><span class="label-width">Sifat</span> <span class="font-semibold">Tenang, clingy, mudah dipanggil, tidak suka gelap</span></li>
                    </ul>
                    <a href="https://wa.me/0812345678910" class="flex items-center justify-center bg-green-400 hover:bg-green-800 text-white font-bold py-4 px-4 rounded-full mt-3 transition-all">
                        <img src="img/_WhatsApp.svg" alt="Adopt Icon" class="w-6 h-6 mr-2">
                        Adopsi
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden p-2">
                <img class="w-full h-72 object-cover rounded-lg" src="img/tom.png" alt="Cat Image">
                <div class="p-6">
                    <h2 style="font-size: 40px;" class="text-2xl font-bold text-[#2E5070] mb-4">Tom</h2>
                    <ul class="pet-details text-[#2E5070] space-y-2">
                        <li class="flex"><span class="label-width">Umur</span> <span class="font-semibold">4 Tahun</span></li>
                        <li class="flex"><span class="label-width">Kelamin</span> <span class="font-semibold">Jantan</span></li>
                        <li class="flex"><span class="label-width">Jenis</span> <span class="font-semibold">Maine Coon</span></li>
                        <li class="flex"><span class="label-width">Bobot</span> <span class="font-semibold">6 Kg</span></li>
                        <li class="flex"><span class="label-width">Sifat</span> <span class="font-semibold">Mageran, suka ngumpet, penakut sama orang baru</span></li>
                    </ul>
                    <a href="https://wa.me/0812345678910" class="flex items-center justify-center bg-green-400 hover:bg-green-800 text-white font-bold py-4 px-4 rounded-full mt-3 transition-all">
                        <img src="img/_WhatsApp.svg" alt="Adopt Icon" class="w-6 h-6 mr-2">
                        Adopsi
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden p-2">
                <img class="w-full h-72 object-cover rounded-lg" src="img/anabell.png" alt="Cat Image">
                <div class="p-6">
                    <h2 style="font-size: 40px;" class="text-2xl font-bold text-[#2E5070] mb-4">Anabell</h2>
                    <ul class="pet-details text-[#2E5070] space-y-2">
                        <li class="flex"><span class="label-width">Umur</span> <span class="font-semibold">2 Tahun</span></li>
                        <li class="flex"><span class="label-width">Kelamin</span> <span class="font-semibold">Betina</span></li>
                        <li class="flex"><span class="label-width">Jenis</span> <span class="font-semibold">Domestic</span></li>
                        <li class="flex"><span class="label-width">Bobot</span> <span class="font-semibold">4.5 Kg</span></li>
                        <li class="flex"><span class="label-width">Sifat</span> <span class="font-semibold">Tidak bisa diam, clingy</span></li>
                    </ul>
                    <a href="https://wa.me/0812345678910" class="mt-10 flex items-center justify-center bg-green-400 hover:bg-green-800 text-white font-bold py-4 px-4 rounded-full mt-3 transition-all">
                        <img src="img/_WhatsApp.svg" alt="Adopt Icon" class="w-6 h-6 mr-2">
                        Adopsi
                    </a>
                </div>
            </div>

            

            <!-- Add more cat cards as needed -->
        </div>
    </section>

    <!-- Contact Form Section -->
    <section class="bg-white py-10 px-5 flex items-center justify-center min-h-screen">
        <div id="contact-card" class="bg-yellow-400 rounded-lg shadow-md overflow-hidden max-w-4xl w-full py-10">
            <div class="flex flex-col md:flex-row">
                <!-- Left Section -->
                <div class="p-6 md:w-1/2">
                    <h3 class="text-xl text-slate-800 mb-4">
                        <div class="text-3xl">Tidak menemukan kucing yang tepat untuk Anda?</div>
                        <div class="mt-3 text-sm">Isi form di bawah ini, kami akan memberitahu Anda jika ada yang menitipkan kucing yang Anda inginkan.</div>
                    </h3>
                    <form id="contact-form" method="dialog">
                        <div class="mb-4">
                            <label for="name" class="block text-gray-700 font-bold">Nama</label>
                            <input type="text" placeholder="Tuliskan nama Anda" id="name" name="name" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" required>
                        </div>
                        <div class="mb-4">
                            <label for="email" class="block text-gray-700 font-bold">Email</label>
                            <input type="email" id="email" placeholder="Alamat Email Anda" name="email" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" required>
                        </div>
                        <div class="mb-4">
                            <label for="message" class="block text-gray-700 font-bold">Preferensi kucing yang diinginkan</label>
                            <textarea id="message" name="message" placeholder="Contoh: Persia, Betina, umur 3 tahun ke atas, putih polos" rows="10" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" required></textarea>
                        </div>
                        <button id="submit" class="w-full block text-center bg-blue-900 hover:bg-blue-800 text-white font-bold py-4 px-4 rounded-full transition-all">
                            Submit
                        </button>
                    </form>
                </div>
                <!-- Right Section -->
                <div class="p-6 md:w-1/2 flex items-center justify-center">
                    <img src="img/funny-cat 1.png" alt="Contact Image" class="w-full h-auto rounded-lg">
                </div>
            </div>
        </div>

        <!-- Thank You Card (Hidden by default) -->
        <div id="thank-you-card" class="bg-yellow-400 rounded-lg shadow-md overflow-hidden max-w-4xl w-full hidden">
            <div class="flex flex-col md:flex-row">
                <!-- Left Section -->
                <div class="p-6 md:w-1/2">
                    <h3 class="text-xl text-slate-800 mb-4">
                        <div class="text-2xl">Tidak menemukan kucing yang tepat untuk Anda?</div>
                        <div class="mt-3 text-sm">Isi form di bawah ini, kami akan memberitahu Anda jika ada yang menitipkan kucing yang Anda inginkan.</div>
                    </h3>
                    <div class="py-36">
                        <p class="text-2xl text-center">Terima kasih telah mengisi formulir.
                            Kami akan memberitahu Anda via email jika kami menemukan kucing yang Anda cari.
                            😃</p>
                    </div>
                </div>
                <!-- Right Section -->
                <div class="p-6 md:w-1/2 flex items-center justify-center">
                    <img src="img/funny-cat 1.png" alt="Thank You Image" class="w-full h-auto rounded-lg">
                </div>
            </div>
        </div>

    </section>
    <Footer />

    <script>
        document.querySelector("#submit").addEventListener("click", () => {
            document.querySelector('#contact-card').classList.add('hidden');
            document.querySelector('#thank-you-card').classList.remove('hidden');
        })
    </script>
</body>
</html>
