---
import Navbar from '../layouts/Navbar.astro'
import Footer from '../layouts/Footer.astro'
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joy Cat Care</title>
  <link rel="stylesheet" href="style.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    .custom-bg {
      background-color: #E6F4F1;
    }
    .custom-border {
      border-color: #3EB489;
    }
    .custom-button {
      background-color: #C5E1A5;
    }
    .main-text {
        font-family: "Barlow", sans-serif;
        font-size: 56px;
        font-weight: 600;
        line-height: 67.2px;
        color: #2E5070;
    }
    .supported-text {
        font-family: "Barlow", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        color: #2E5070;
    }
  </style>
</head>
<body class="bg-gray-50 font-['Barlow'] text-[#2E5070]">
<Navbar />
  <!-- Hero Section -->
  <section class="custom-bg py-20">
    <div class="max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:px-8 flex flex-col-reverse md:flex-row items-center">
      <div class="container md:w-1/2 text-center md:text-left">
        <h1 class="main-text text-[#2E5070] mt-12 mr-2">Professional, Loving and Reliable Cat Care When You Can’t be There</h1>
        <p class="text-justify supported-text mt-4 text-lg text-[#2E5070]">Di Joy Cat, kami berkomitmen untuk memberikan perawatan terbaik bagi kucing kesayangan Anda. Kami menawarkan berbagai layanan yang dirancang khusus untuk memastikan kesehatan dan kebahagiaan kucing Anda. Dari klinik kucing hingga daycare dan grooming, serta program adopsi, Joy Cat adalah pilihan tepat bagi para pemilik kucing yang peduli.</p>
        <img src="CatPaw.png" alt="" class="mt-7">
      </div>
      <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center relative">
        <div class="relative">
          <img src="/img/right.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <div class="mx-auto p-6 bg-[#C6EAE3]">
      <section class="py-12">
      <h2 class="text-center text-4xl font-black font-['barlow'] mb-8 text-[#2E5070]">Our Services</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
          <div class="p-3 bg-white rounded-lg shadow-lg overflow-hidden">
              <img src="/img/index-11.png" alt="Klinik Kucing" class="w-full">
              <div class="p-6">
                  <h3 class="text-xl font-bold mb-2">Klinik Kucing</h3>
                  <p class="text-gray-700 mb-4">
                      Tim dokter hewan kami yang berpengalaman siap memberikan perawatan medis terbaik untuk kucing Anda. Kami menyediakan layanan vaksinasi, pemeriksaan rutin, pengobatan penyakit, dan konsultasi kesehatan.
                  </p>
                  <a href="/clinic"  class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded-full 2xl:px-52">Cek Dokter</a>
              </div>
          </div>
  
          <div class="p-3 bg-white rounded-lg shadow-lg overflow-hidden">
              <img src="/img/index-22.png" alt="Daycare & Grooming" class="w-full">
              <div class="p-6">
                  <h3 class="text-xl font-bold mb-2">Daycare & Grooming</h3>
                  <p class="text-gray-700 mb-4">
                      Butuh tempat yang aman dan nyaman untuk menitipkan kucing Anda saat Anda sibuk? Daycare kami adalah solusinya. Selain itu, layanan grooming kami akan membuat kucing Anda tetap bersih dan cantik.
                  </p>
                  <a href="/daycare" class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded-full 2xl:px-52">Lihat Paket</a>
              </div>
          </div>
  
          <div class="p-3 bg-white rounded-lg shadow-lg overflow-hidden">
              <img src="/img/index-33.png" alt="Adopsi Kucing" class="w-full">
              <div class="p-6">
                  <h3 class="text-xl font-bold mb-2">Adopsi Kucing</h3>
                  <p class="text-gray-700 mb-4">
                      Bantu kami menemukan rumah baru yang penuh cinta untuk kucing-kucing yang membutuhkan. Lihat kucing-kucing yang siap diadopsi dan jadilah bagian dari cerita bahagia mereka.
                  </p>
                  <a href="/adoption" class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded-full 2xl:px-52">Cari Kucing</a>
              </div>
          </div>
      </div>
  </div> 
  </section>

  <!-- Contact Section -->
  <section class="bg-[url(./img/bg-map.jpg)] bg-center bg-cover py-12">
    <div class="flex flex-col md:flex-row items-center md:items-start max-w-7xl mx-auto p-6 space-y-6 md:space-y-0 md:space-x-6">
      <div class="bg-white rounded-lg shadow-lg p-6 w-full md:w-1/3 h-[410px]">
          <h2 class="text-2xl font-bold mb-4">Opening Hours</h2>
          <p class="text-gray-700"><span class="font-bold">Weekdays</span><br>08.00–17.00</p>
          <p class="text-gray-700 mt-2"><span class="font-bold">Weekend</span><br>07.00–19.00</p>
          <hr class="my-4 border-red-500">
          <h3 class="text-xl font-bold mb-2">Kontak Cepat</h3>
          <p class="text-gray-700"><span class="font-bold">Whatsapp</span><br>0812-1234-5678</p>
      </div>
  
      <div class="bg-white rounded-lg shadow-lg p-6 w-full md:w-1/3">
          <h2 class="text-2xl font-bold mb-4">Alamat Kami</h2>
          <p class="text-gray-700">Jl. Radar Auri No.32d, Cisalak Ps., Kec. Cimanggis, Kota Depok, Jawa Barat 16452</p>
          <div class="mt-4">
              <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15860.663436893967!2d106.8679048!3d-6.3725769!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69edee0a2b7f05%3A0x95ab16f97f8f308a!2sMoreTHAN%20Veterinary%20Clinic!5e0!3m2!1sid!2sid!4v1717074412755!5m2!1sid!2sid"
                  width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
      </div>
  </div>
  </section>

  <!-- Testimonials Section -->
  <section class="custom-bg py-20">
    <div class="flex flex-col mx-1 p-6 gap-5">
      <div class="flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-6">
        <h2 class="text-5xl font-black text-center mb-8 font-['Barlow'] text-[#2E5070]">Testimonials</h2>
        <div class="bg-white rounded-lg shadow-lg p-6 md:w-1/3">
              <div class="flex items-center mb-4">
                  <img src="./img/quote.svg" alt="">
              </div>
              <p class="text-gray-700 mb-4">It was my second time there. I believe my cat, Dusty had a good time there. Had a major trimming and royal splash spa. The fur is still smooth after 2 weeks. They took great care of Dusty knowing that she is pregnant. Recommended!</p>
              <p class="font-bold">Amelia Rose</p>
          </div>
  
          <div class="bg-white rounded-lg shadow-lg top-0 p-6 w-full md:w-1/3">
              <div class="flex items-center mb-4">
                <img src="./img/quote.svg" alt="">
              </div>
              <p class="text-gray-700 mb-4">Clean and nice for the cats. Grooming package is good too. We chose a special package for our cat Molly. Today we sent 6 cats for boarding. Love JoyCat service!</p>
              <p class="font-bold">Niki Jasmine</p>
          </div>
  
          <div class="bg-white rounded-lg shadow-lg p-6 w-full md:w-1/3">
              <div class="flex items-center mb-4">
                <img src="./img/quote.svg" alt="">
              </div>
              <p class="text-gray-700 mb-4">Sent Casper for grooming and chose to try aromatic salt bath. She enjoyed the session and seems calmer and approachable compared to before. The place is well kept and adhere to Covid 19 SOP. Really recommended!</p>
              <p class="font-bold">Hanna Isma</p>
          </div>
      </div>
  </div>
  </section>
  <Footer />
</body>
</html>

